body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header, footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
}

header {
    text-align: left;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}



.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-left: 1px solid black; /* 境界線を左に追加 */
    border-right: 1px solid black; /* 境界線を右に追加 */
    border-bottom: 1px solid #ccc;
}

.product-left, .product-right {
    flex: 1;
    padding: 10px;
}

.product-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid black; /* 境界線を右に追加 */
}

.product-left img {
    width: 100%;
    height: auto;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: sticky; /* スクロール時に固定 */
    top: 0; /* 固定する位置 */
    height: calc(100vh - 150px); /* 上部写真の高さに応じて調整 */
    overflow-y: auto; /* コンテンツが多い場合にスクロール */
}

.product-right h1 {
    font-size: 2em;
}

.product-right h2 {
    font-size: 1.5em;
}

.product-right h3 {
    font-size: 1.2em;
}

.coming-soon-box {
    background-color: black;
    color: white;
    padding: 2px 30px; /* 縦の余白を減らし、横の余白を増加 */
    border: 2px solid black;
    text-align: center;
    font-size: 1em; /* フォントサイズを変更 */
    width: 300px; /* 自動調整にするか、特定の幅を指定する */
}

.product-description {
    text-align: left;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

footer p {
    margin-top: 10px;
}

.bottom-section {
    padding: 20px;
    text-align: left;
    background-color: black; /* 背景色を黒に設定 */
    color: white; /* 文字色を白に設定 */
}

.bottom-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bottom-section ul li {
    margin-bottom: 10px;
}

.bottom-section ul li a {
    color: white; /* リンクを白に設定 */
    text-decoration: none;
    font-size: 1em;
}
